body{
	margin: 0;
}
.box-animated {
	margin: 10px auto 0;
	max-width: 1200px;
	min-height: 600px;
	border: 2px solid black;
}
.box.animate {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 250px auto;
}
.front{
	background-color: red;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 2;
	text-align: center;
	font-size: 32px;
	color: white;
}

.front::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
	transform: translateZ(-1px);
	/* backface-visibility: hidden; */
}

.back{
	background-color: blue;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 1;
	text-align: center;
	font-size: 32px;
	color: white;
}

.back::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: translateZ(-1px);
}

@keyframes color-change {
	to {
		transform: rotateY(0deg);
	}
	from{
		transform: rotateY(360deg);
	}

}

@keyframes color-change2 {
	to {
		transform: rotateZ(0deg) rotateY(180deg) translateZ(70px);
	}
	from{
		transform: rotateZ(360deg) rotateY(180deg) translateZ(70px);
	}

}

@keyframes color-change3 {
	to {
		transform: rotateZ(360deg);

	}
	from {
		transform: rotateZ(0deg);
	}
}

.box.animate.rotate {
	animation: color-change 20s infinite;
	transform-style: preserve-3d;
}

.animate.moveFront {
	animation: color-change2 20s infinite;
	transform-style: preserve-3d;
}

.animate.moveBack {
	animation: color-change3 20s infinite;
	transform-style: preserve-3d;
}



